header{
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,168,253,1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px 0px 20px;
}
header .menu{
  width: 40%;
}
header .menu ul{
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
}
header .menu ul li a{
  text-decoration: none;
  color: black;
}
header .menu ul li{
  transition: 0.2s;
  font-size: 20px;
  letter-spacing: 3px;
  
}
header .menu ul li:hover{
  transform: scale(1.1);
}

